.itemDetail-container {
  max-width: 1120px;
  margin: 100px auto 100px auto;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.itemDetail-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.itemDetail-image {
  width: 100%;
}

.itemDetail-text h2 {
  font-size: 28px;
  font-weight: 700;
  color: #5064de;
  margin-bottom: 25px;
}

.itemDetail-text p {
  font-size: 18px;
  margin-bottom: 50px;
}

.itemDetail-price {
  color: #f46f34;
  font-size: 28px;
  font-weight: 700;
}

.support-message {
  background-color: #5064de50;
  padding: 15px 30px;
  border-radius: 22px;
  max-width: 65%;
  margin: 0 0 20px 0;
}

.support-message-title{
  font-weight: 700;
  margin-bottom: none;
}