.container {
  width: 100%;
  padding: 75px 0px;
}

.container-services {
  background-color: #fafafa;
  margin: 0 auto;
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

#services {
  max-width: 1120px;
  margin: 0 auto;
  color: #252525;
  text-align: center;
}

.services-title {
  margin-bottom: 8px;
  font-size: 48px;
  color: #252525;
  font-weight: 700;
}

.services-subtitle {
  margin-bottom: 64px;
  margin: auto;
  color: #5064de;
  font-size: 22px;
  font-weight: 300;
  max-width: 600px;
}

.servicesList-container {
  padding: 75px 0;
  margin-bottom: 75px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 50px auto;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #5064de;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #5064de transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}