.service-container{
    background-color: #fff;
    box-shadow: 0px 8px 24px rgb(53 60 89 / 12%);
    border-radius: 22px;
    padding: 30px 15px;
    margin: 25px 0px 25px 0px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.service-name{
    font-weight: 700;
    margin-bottom: 12px;
    color: #5064de;
    font-size: 24px;
    text-align: center;
}

.service-description{
    padding: 10px 0px;
    text-align: center;
}

.service-price{
    font-size: 36px;
    line-height: 1;
    color: #353c59;
    margin-top: 10px;
    font-weight: 700;
    text-align: center;
}

.service-icon{
    width: 64px;
    margin: 0 auto;
}

.service-details-btn{
    margin: 15px auto;
    color: #f46f34;
    font-weight: 500;
    font-size: 18px;
    width: 120px;
    text-decoration: none;
}

.service-details-btn:hover{
    border-bottom: 3px solid #f46f34;
}